@import "css3-mixins-lib";
@import url('https://fonts.googleapis.com/css?family=Poppins|Suranna');
//variables
$font-poppins: 'Poppins',
sans-serif;
$font-suranna: 'Suranna',
serif;
$black:#000;
$midnight:#050215;
$light-grey: #f5f1ed;
$font-small:14px;
 $left-right-margin: 50px;

* {
    box-sizing: border-box;
}


html{
    font-size: 14px;
    color: black;
    letter-spacing: 0.1em;
}

body {
    margin: 0;
    font-family: $font-suranna;
    font-size: 14px;
    background:$light-grey;
}

header {
    height: 768px;
    padding-top: 50px;
    background: #f07057;
    // text-align: center;
    // vertical-align: middle;
    
    font-family: $font-poppins;
    position: relative;
}

ul{
    list-style: none;
    margin: 0;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
}
.container{
    padding: 0  $left-right-margin;
}

#body-wrapper{
    margin: 0 2em;
}

.right{
    float: right;
}

.left{
    float: left;
}



.main-nav,
.main {
    position: relative;
}

.main-nav {
    background: #fff;
    width: 100%;
    height: 70px;
    z-index: 150;
    margin: 0;
}


.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.main {
    column-count: 2;
    column-gap: 40px;
    background-color: $light-grey;
}

#banner-title{
    position: absolute;
    top:25%;
    left:25%;
}

.main-nav{
    ul{
        list-style: none;
        margin: 0;
        display: inline;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        li{
            display: inline;
            text-transform: uppercase;
           
            a{
                text-decoration: none;
                 color: $black;
                 padding: 0 1em; 
            }
        }
    }

    #logo{
        width: 4em;
        height: 4em;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        margin-left: 5em;
    }
}


.instagram-feed{
    text-align: center;
    background-color: white;
   
    h2{
        font-family: $font-suranna;
        font-size: 4em;
        padding: 1em 0;
        margin: 0;
    }

    .instagram-feed-images{
        
            display: flex;
            flex-flow: row wrap;
        .instagram-image{
            width: 25%;
            height: 280px;
            display: inline-block;
            background-size: cover;
        }
    }
}


#social-links{
    background-color: white;
    height: 60px;
    position: relative;
    text-align: center;
    a{
        color:$black;
        text-decoration: none;
        text-transform: uppercase;
    }

    ul{
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin:0;
        padding: 0;
    }

    li{
        display: inline;
        margin: 2em;
        font-weight: 700;
        
    }
}
footer{
    width:100%;
    #copyrights{
        height: 60px;
        background-color: #f1eded;
        text-align: center;
        font-size: $font-small;

        #copyrights-wrapper{
            padding: 0 $left-right-margin;
        }
    }
}

@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1024px) {}