@import "css3-mixins-lib";
@import url('https://fonts.googleapis.com/css?family=Poppins|Suranna');
//variables
$font-poppins: 'Poppins',
sans-serif;
$font-suranna: 'Suranna',
serif;
$black:#000;
$midnight:#050215;
* {
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body {
    margin: 0;
    font-family: $font-suranna;
    font-size: 14px;
}

header {
    height: 768px;
    padding-top: 50px;
    background: #f07057;
    // text-align: center;
    // vertical-align: middle;
    
    font-family: $font-poppins;
    position: relative;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
}

.main-nav,
.main {
    position: relative;
}

.main-nav {
    background: #fff;
    width: 100%;
    height: 70px;
    z-index: 150;
    margin: 0;
}


.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.main {
    background: #f2f2e8;
    padding: 110px 50px 50px;
    column-count: 2;
    column-gap: 40px;
}

#banner-title{
    position: absolute;
    top:25%;
    left:25%;
}

.main-nav{
    ul{
        list-style: none;
        margin: 0;
        display: inline;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(150%, -50%);
        
        li{
            display: inline;
            text-transform: uppercase;
           
            a{
                text-decoration: none;
                 color: $black;
                 padding: 0 1em; 
            }
        }
    }

    #nav-wrapper{
       
    }

    #logo{
        width: 4em;
        height: 4em;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        margin-left: 5em;
    }
}

@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1024px) {}